.hero_wrapper{
    height: 500px;
    overflow: hidden;

    & .container{
        max-width: 1170px;
        margin: 0 auto;
    }
    & .hero_con{
        display: flex;
        justify-content: space-between;
        margin-top: 115px; 

        & .text_1{
            font-size: 32px;
        }
        & .text_2 {
            font-size: 64px;
            font-weight: bold;
            color: #115496;
                }
        & .text_3{
            font-size: 32px;
        }
        & .text_4{
            font-size: 16px;
            margin-top: 15px;
            width: 700px;

        }
                & .hero_button {
                    width: 250px;
                    height: 35px;
                    background-color:#115496;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    transition: 0.3s;
                    cursor: pointer;
                    margin-top: 15px;
                    padding: 20px;
        
                    &:hover {
                        box-shadow: 0 0 20px 0px rgba(11, 54, 96, 0.3);
                        height: 45px;
                    }
        
                    & a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: bold;
                        margin: 5px;
                    }
                }
        & .hero_social{
            display: flex;
            list-style: none;
            margin-top: 25px;

            & li{
                margin-right: 10px;
            }
             & svg{
                width: 32px;
                height: 32px;
                color: #333;
             }
        }
                 & .hero_img {
                     background-size: cover;
                     height: 500px;
                     padding-bottom: 50px;
                     margin-right: 50px;
                 }
                 
    }
}

@media screen and (max-width: 480px) {
    .hero_wrapper{
        height: auto;

        & .hero_con{
            flex-direction: column;
            margin: 50px 0;
            padding: 20px;

            & .text_4 {
                    width: 350px;
            
                }

            & .hero_img{
                width: 100%;
            }

            
        }
    }
    
}